main {
  display: flex;
}

header {
  border: solid black 2px;
  margin: 10px;
  padding: 10px;
}

button {
  margin-left: auto;
}

.border {
  border: solid black 2px;
  margin: 10px;
  padding: 10px;
}
